body {
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.04em;
  color: var(--darkest);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
}

// For hiddden section heading
.hidden-heading {
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}
