:root {
  --dark: #131313;
  --darkest: #000000;
  --light: #fcfcfc;
  --lightest: #ffffff;
  --bright: #d6936d;
  --time: #907e82;

  //   for buttons
  --hover: #0a8817;
  --disabled: #ababab;

  //   for background
  --chicken: #f8d24e;
  --orange: #efd478;
  --khaki: #84a178;
  --ice-cream: #aec6a5;

  //   Copyright color
  --uniqe: #7a7a7a;
}
